<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>



    <table style="width:100%">
      <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Description</th>
        <th>Created At</th>
        <th>Updated At</th>
      </tr>
      <% notes.forEach(function(note){ %>
        <tr>
          <td><%= note._id %></td>
          <td><%= note.title %></td>
          <td><%= note.description %></td>
          <td><%= note.created_at %></td>
          <td><%= note.updated_at %></td>
        </tr>
      <% }); %>
    </table>




  </body>
</html>
